.contact-page {
  background-color: #f9f9f9;

  &__section {
    display: flex;
    max-width: 1000px;
    margin-top: -150px;
    margin-bottom: 300px;
    overflow: hidden;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    @include smaller-than-tablet {
      flex-direction: column !important;
    }

    picture {
      max-width: 500px;
      max-height: 500px;
      object-fit: cover;
      @include smaller-than-tablet {
        max-height: 400px;
        max-height: 400px;
        min-width: 100%;
        max-width: 0;
      }
    }
  }

  &__section:nth-child(odd) & {
    &__section-content-container {
      margin-right: 50px;
      @include smaller-than-tablet {
        margin-right: 0;
      }
    }
  }

  &__section:nth-child(even) & {
    &__section-content-container {
      margin-left: 50px;
      @include smaller-than-tablet {
        margin-left: 0;
      }
    }
  }

  &__section:nth-last-of-type(2) {
    margin-bottom: 75px;
  }

  &__section-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__section-title {
    font-family: $font_family_primairy;
    font-size: 42px;
    margin-bottom: $spacing--unit*3;
    color: $color_dark_grey;
    margin-top: 75px;
    @include smaller-than-tablet {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: $font_size_medium;
    }
  }

  &__section-content {
    font-size: $font_size_regular;
    line-height: 150%;
    color: $color_light_grey;
  }

  &__section-image {
    max-width: 500px;
    object-fit: cover;
    @include smaller-than-tablet {
      max-height: 400px;
      min-width: 100%;
      max-width: 0;
    }
  }
}

.contact-form {
  .form-row {
    margin-bottom: 0.83333em;
    width: 70%;
  }

  label {
    display: block;
    padding-bottom: 0.25em;

  }

  .form-submit {
    margin-top: 1.66667em;
  }
}

/* Form fields */
label {
  color: green;
  font-weight: bold;
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid $color_default;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: _palette(active);
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 15px;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 3em;
}

textarea {
  padding: 0.75em 15px;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
  background: $color_active;
  border-radius: 20px;
  border: 2px solid $color_active;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 2.75em;
  line-height: 1.5;
  padding: 0.5em 30px;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  margin-bottom: 60px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.75;
    outline: 0;
  }
}

a.button {
  height: auto;
  border-radius: 20px;
}
