{{ define "content" }}
<main class="content faq">
  {{ $include_dict := dict "page" . }}
  {{ partial "static_header.html" $include_dict }}
  {{ range $question := .Params.questions }}
    <section class="content__row faq__section">
      <div class="faq__section-content-container">
        <h2 class="faq__question">{{ $question.question }}</h2>
        <div class="faq__answer">
          {{ partial "markdownify-block" $question.answer }}
        </div>
      </div>
    </section>
  {{ end }}

  <section class="content__row content__row--bleed faq__contact">
    <img src="{{ "images/promo.jpg" | relURL }}" alt="" class="faq__contact-image">
    <div class="faq__contact-text-container">
      <h3 class="faq__contact-title">Vous avez des questions ? <br> Contactez nous.</h3>
      <div class="faq__contact-info-container">
        <p class="faq__contact-telephone">+33 7 78 78 17 78</p>
        <p class="faq__contact-telephone"><a href="https://wa.me/33778781778" >+33 7 78 78 17 78</p>
        <p class="faq__contact-email">jeremy@netary.fr</p>
        <div class="faq__seperator"></div>
      </div>
    </div>
  </section>
</main>
{{ end }}
